<div class="header" ng-show="showHeader()">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">CinemaBuddy</a>
      </div>

      <md-nav-bar ng-init="currentNavItem = 'page1'"
                  md-selected-nav-item="currentNavItem"
                  nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-href="#/" name="page1">Page One</md-nav-item>
        <md-nav-item md-nav-href="#/about" name="page2">Page Two</md-nav-item>
        <md-nav-item md-nav-href="#/projections" name="page3">Page Two</md-nav-item>
        <md-nav-item ng-if="isAdminUser()" md-nav-href="#/edit" name="page4">Page Two</md-nav-item>
      </md-nav-bar>
    </div>
  </div>
</div>
